*{
    margin: 0;
}
.container{
    max-width: 1440px;
    width: 100%;
    margin: 0px auto;
}
.header-section{
    width: 700px

}
.header-section h1{
 font-size: 64px;
 font-weight: 700;
}
.header-section p{
 font-size: 18px;
 color: darkgray;
}
.primary-btn{
 font-size: 20px;
 font-weight: 600;
 background-color: #E55473;
}